<jhi-page-ribbon></jhi-page-ribbon>

<div>
  <router-outlet name="navbar"></router-outlet>
</div>
<!--<div class="container-fluid">-->

<mat-drawer-container class="app-sidenav-container" autosize>
  <mat-drawer #drawer class="app-sidenav mat-elevation-z10" [mode]="isScreenSmall ? 'over' : 'side'" [opened]="!isScreenSmall">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/account']">Account</a>
      <a mat-list-item [routerLink]="['/home']">Account 2</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="card jh-card" style="flex-shrink: 0">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<!--
      <div class="card jh-card" style="flex-shrink: 0;">
        <router-outlet></router-outlet>
      </div>
-->
<jhi-footer></jhi-footer>
<!--</div>-->
